<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			| Notice
		</title>

		<link rel="icon" href="{{asset('images/Notice.svg')}}" type="image/svg+xml">
		{% block stylesheets %}
			{{ encore_entry_link_tags('base') }}
			{{ encore_entry_link_tags('swup') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('register') }}
			{{ encore_entry_script_tags('swup') }}
		{% endblock %}
	</head>
	<body>
		<ul>
			<li>
				<a href="{{url('app_home')}}">Home</a>
			</li>
			<li>
				<a href="{{url('app_test')}}">Test</a>
			</li>
		</ul>
		<main id="swup"> {% block body %}{% endblock %}
			</main>
		</body>
	</html>
