<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			- Notice
		</title>

		<link rel="icon" id="favicon" href="{{asset('images/Notice-favicon.svg')}}" type="image/svg+xml">

		{{ encore_entry_link_tags('base') }}
		{{ encore_entry_link_tags('swup') }}
		{{ encore_entry_link_tags('header') }}
		{{ encore_entry_link_tags('navbar') }}
		{{ encore_entry_link_tags('trends') }}
		{% block stylesheets %}{% endblock %}

	</head>
	<body>

		<header id="header">
			<div id="header-brand">
				<img src="{{asset('images/Notice.svg')}}" alt="Notice logo">
				<span>Notice</span>
			</div>

			<div id="header-search-bar">
				Search
			</div>

			<div id="header-social">
				<div id="social-items">
					<notification-icon id="notification-icon"></notification-icon>
					<div id="profile-image-container">
						<img src="https://images.unsplash.com/photo-1618641986557-1ecd230959aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
					</div>
				</div>
			</div>
		</header>

		<div id="main">
			<aside id="sidebar">
				<div id="sidebar-section-content">
					<h4 class="sidebar-subheader">Content</h4>
					<div class="sidebar-links">
						<a id="link-feed" href="{{url('app_feed')}}" class="sidebar-link {{app.request.get('_route') == 'app_feed' ? 'active' : ''}}">
							<i data-feather="list"></i>
							Feed
						</a>
						<a href="{{url('app_hashtags')}}" class="sidebar-link {{app.request.get('_route') == 'app_hashtags' ? 'active' : ''}}">
							<i data-feather="hash"></i>
							Hashtags
						</a>
						<a href="#" class="sidebar-link">
							<i data-feather="star"></i>
							My Stars
						</a>
						<a href="{{url('app_collections')}}" class="sidebar-link {{app.request.get('_route') == 'app_collections' ? 'active' : ''}}">
							<i data-feather="bookmark"></i>
							Collections
						</a>
					</div>
				</div>
				<div id="app-version">{{version.currentVersion}}</div>
			</aside>

			<div id="page-content" class="transition-fade"> {% block body %}{% endblock %}
				</div>


				<div id="sidebar-trending">
					<div id="trends-title-container">
						<h3 id="trends-title">Current trends</h3>
						<span id="trends-period">Last 24h
							<i data-feather="chevron-down" id="trends-period-icon"></i>
						</span>
					</div>

					<div id="trends-hashtags">

						{% for i in 1..10 %}
							<div class="trends-hashtag">
								<div class="left">
									<div class="name">#nodejs</div>
									<div class="popularity">
										<div class="indicator"></div>
										97.7 threads
									</div>
								</div>

								<i data-feather="more-horizontal" class="more"></i>
							</div>
						{% endfor %}

						<a href="#" id="trends-show-more">Show more</a>


					</div>
				</div>

			</div>


			{{ encore_entry_script_tags('base') }}
			{{ encore_entry_script_tags('register') }}
			{{ encore_entry_script_tags('swup') }}
			{{ encore_entry_script_tags('header') }}
			{{ encore_entry_script_tags('trends') }}
			{% block javascripts %}{% endblock %}
		</body>
	</html>
