{% extends "layout.html.twig" %}

{% block stylesheets %}
	{{ encore_entry_link_tags('navbar-layout') }}
	{{ encore_entry_link_tags('navbar') }}
{% endblock %}


{% block body %}

	<main id="main">
		<aside id="sidebar">
			<div id="sidebar-section-content">
				<h4 class="sidebar-subheader">Content</h4>
				<div class="sidebar-links">
					<a href="{{url('app_feed')}}" class="sidebar-link {{app.request.get('_route') == 'app_feed' ? 'active' : ''}}">
						<i data-feather="list"></i>
						Feed
					</a>
					<a href="{{url('app_hashtags')}}" class="sidebar-link {{app.request.get('_route') == 'app_hashtags' ? 'active' : ''}}">
						<i data-feather="hash"></i>
						Hashtags
					</a>
					<a href="{{url('app_collections')}}" class="sidebar-link {{app.request.get('_route') == 'app_collections' ? 'active' : ''}}">
						<i data-feather="bookmark"></i>
						Collections
					</a>
				</div>
			</div>
			<div id="app-version">{{version.currentVersion}}</div>
		</aside>

		<div id="page-content">
			{% block page %}{% endblock %}
		</div>
	</main>
{% endblock %}
